<!DOCTYPE html>
<html>
<head>
  <title>KITT</title>
  <%= stylesheet_link_tag    "kitt/application", media: "all" %>
  <%= javascript_include_tag "kitt/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
